.sWidth{
    width: 130px ;
}
.lWidth{
    width: 150px ; 
}
.selectDisponibilites {
    height: 38px !important;
    margin: 5px !important;

    border: 1px solid #E5E7E9;
    border-radius: 6px;
    height: 46px;
    padding: 12px;
    outline: none;

    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    text-transform: none;

    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark-color(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    -webkit-appearance: menulist;
    align-items: center;
    white-space: pre;
    -webkit-rtl-ordering: logical;
    background-color: -internal-light-dark-color(white, black);
    cursor: default;
    margin: 0em;
    font: 400 13.3333px Arial;
}

select:not(:-internal-list-box) {
    overflow: visible !important;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
td {
    display: table-cell;
    vertical-align: inherit;
}